body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #252824;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #9cab32;
}

a {
  color: #9cab32;
}

a:hover {
  color: #60691f;
  text-decoration: underline;
}


.sidebar-nav {
  margin-top:100px;
}

@media (max-width: 768px) {
    .sidebar-nav {
      margin-top:10px;
  }
}

.site-nav {
  margin-top: 25px;
}

.icon-twitter {
  background-image: url("../img/twitter.png");
  background-position: 0      0;
}

.icon-github {
  background-image: url("../img/github.png");
  background-position: 0      0;
}

.footer {
  color:#666666;
  font-size:11px;
}