
extends layout

//- this logic should be moved to a view at some point

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getUTCFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  
  section.archive
    h2 Archive
    ul
      each year in _.chain(archive).keys().reverse().value()
        li.year= year
        - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
        ul
          each articles, month in months
            li
              strong= month
              each article in articles
                br
                a(href=article.url)= article.title
