!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width initial-scale=1.0')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', media='screen', href='/css/bootstrap.min.css')
      link(rel='stylesheet', media='screen', href='/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100|Open+Sans')
      link(rel='stylesheet', href='/css/github.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel="shortcut icon", href='/img/favicon.png')
    |  <script type="text/javascript">
    |  var _gaq = _gaq || [];
    |  _gaq.push(['_setAccount', 'UA-69025-4']);
    |  _gaq.push(['_trackPageview']);
    |  (function() {
    |    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    |    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    |    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    |  })();
    | </script>
  body
    div#content.container-fluid
      div.row-fluid
        div.span3
          include sidebar
        div.span9
          block header
          block content
          footer
          div.inner.footer
            block footer
              p &copy; #{ new Date().getFullYear() } #{ locals.owner }
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.min.js')
