div.sidebar-nav
  div
    img(src='/img/devpatch-logo.png', width='300', height='81')
    div
      ul.nav.nav-list
        li
          a(href=locals.url)= locals.name
        li
          locals.description
        li
          a(href='archive.html')#archive Visit the archives!



          //- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          //-   <span class="icon-bar"></span>
          //-   <span class="icon-bar"></span>
          //-   <span class="icon-bar"></span>
          //- </a>