div.sidebar-nav
  div
    a(href=locals.url)
      img(src='/img/devpatch-logo.png', width='300', height='81')
    div
      ul.nav.nav-list
        li
            strong Benjamin Sternthal
        li Web Product Engineer - Mozilla
      ul.nav.nav-list
        li
          a(href='archive.html')#archive  Archive
