div.sidebar-nav
  div
    a(href=locals.url)
      img(src='/img/devpatch-logo.png', width='300', height='81')
    div
      ul.nav.nav-list
        li
            strong Benjamin Sternthal
        li Web Development Manager<br>Mozilla
        li
          a(href='http://twitter.com/bensternthal') @bensternthal
        li
          a(href='https://github.com/bensternthal') github
        li
          a(href='http://www.linkedin.com/in/benjaminsternthal') linkedin
      ul.nav.nav-list.site-nav
        li
          a(href='/archive.html') Article Archive
